{% extends 'blog/base.html' %}

{% block content %}
<h2>Register</h2>

<form method="post">
{% csrf_token %}
<input type="text" name="username" placeholder="Username"><br><br>
<input type="email" name="email" placeholder="Email"><br><br>
<input type="password" name="password" placeholder="Password"><br><br>
<input type="password" name="confirm_password" placeholder="Confirm Password"><br><br>
<button type="submit">Register</button>
</form>

<p>Already have account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}