{% extends 'blog/base.html' %}

{% block content %}
<h2>All Posts</h2>
<hr>

{% for post in posts %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content|truncatewords:20 }}</p>
    <p><b>Author:</b> {{ post.author.username }}</p>

    <a href="{% url 'post_detail' post.id %}">Read</a>

    {% if post.author == user %}
        <a href="{% url 'post_update' post.id %}">Edit</a>
        <a href="{% url 'delete_post' post.id %}">Delete</a>
    {% endif %}

    <hr>
{% empty %}
    <p>No posts</p>
{% endfor %}
{% endblock %}